.vscode
.env
.eslintignore
.eslintrc.js
.gitignore
.prettierignore
.prettierrc
.dockerignore

node_modules
appveyor.yml
npm-debug.log
package-lock.json
yarn-error.log
Procfile
Dockerfile
yarn.lock

*.md
*.config.js